<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

<!-- Основные стили -->
{{ $options := (dict "targetPath" "css/main.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<!-- Дополнительные CSS -->
{{ if .Site.Params.customCSS }}
  {{ range .Site.Params.customCSS }}
    <link rel="stylesheet" href="{{ . | relURL }}">
  {{ end }}
{{ end }}

<!-- SEO-метатеги -->
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/schema.html" . }}


